body{
  font-family: Arial;
  background-color: rgb(230,235,235);
}
.head{

  background-color: rgb(200,200,190);
  padding: 40px 0 40px 90px;
}

#searchField{
  width: 500px;
  height: 28px;
  font-size: 18px;

}
#searchButton{
  height: 32px;
}

.resultBox{
  width: 50%;
  height: 750px;

    padding: 10px 50px 50px 90px;


}

.resultBox li {
  display: block;
  margin: 50px 0 50px 0;
  font-size: 20px;

}
.resultList a{
  text-decoration: none;
  color: black;
}
